div.help {
  width: 300px;
  height: 208px;
  background-color: #323030;
  position: absolute;
  border: solid #68472a 1px;
  border-radius: 8px;
  color: #ccc;
  font-family: monospace;
  padding: 8px;
  text-align: justify;
}

div.help .close {
  text-align: end;
  margin-bottom: 10px;
  color: #999;
  cursor: pointer;
}