/* body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
} */

.settings { border-width: 0; margin-bottom: 20px }

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.input-container {
  height: 35px;
  position: relative;
}

.ic1 { margin-top: 30px }

.ic2 { margin-top: 30px }

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 12px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 140px;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 18px;
  left: 10px;
  position: absolute;
  top: -20px;
  transition: transform 200ms;
}

.cut-short { width: 40px }

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  font-size: 12px;
  left: 8px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75)
}

.input:not(:placeholder-shown) ~ .placeholder { color: #808097 }
.input:focus ~ .placeholder { color: #dc2f55 }

div.err {
  color: #dc2f55;
  margin-left: 10px;
  font-family: Arial;
  font-size: 10px;
  margin-top: 2px;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  width: 100%;
}

.submit:active { background-color: #06b }